body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 20px;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 0px 0px;
}
.outer {
    margin: 0 auto;
}

.catalog {
    overflow: hidden;
}
.apron {
    cursor: pointer;
    padding: 5px 5px;
    margin: 5px;
    width: 200px;
    height: 260px;
    background-color: #DDD;
    float: left;
}

.apron .image {
/*    background-image: url('ebola_suit_transp.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center; */
    width: 200px;
    height: 200px;
}

.apron .image img {
    max-width: 100%; 
    max-height: 100%;
}

.apron .name {
font-weight: bold;
    display: inline-block;
    width: 70%;
    font-size: 1em;
}

.apron .chromosome {
    font-size: 0.7em;
    word-wrap: break-word;
}

.apron .score {
    display: inline-block;
    width: 28%;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.apron.selected {
    background-color: #AFA;
    /*border: 5px solid #AFA;
    margin: 0px; */
}
.apron.selected .score {
    color: black;
}

.apron .chromosome-color {
    padding: 2px 5px;
}

.menu {
    margin:10px 10px;
    height: 40px;
}

.select.breed {
    float: left;
    font-size: 1.2em;
    margin-right: 10px;
}
.details, .none {
    font-weight: bold;
    font-size: 1.4em;
    border-color: #ccc;
    border-width: 4px;
    padding: 10px 0;
}

.none {
    color: #777;
}

.inc {
    margin: 5px 0;
    font-size: 0.6em;
}

.generation_controls .generation_info {
   float: left;
   margin-right: 10px; 
}
